@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/
h1,
h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 15px;
}

/*navigation links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    justify-content: flex-end;

}

#menu,
#logo {
    line-height: 55px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image and cover text */

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/Hero\ Image.jpg') no-repeat center center;

}

#cover-text,
#cover-text h2 {
    color: #252525;
}

#cover-text {
    font-size: 160%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    margin: auto;
    bottom: 200px;
    height: 150px;
    position: relative;

}

/* media query for hero image, cover-text and menu links */
@media(max-width: 700px) {
    #hero-image {
        width: 100%;
        background: url('../images/Face\ frame2.jpg') no-repeat center center;
    }

    #logo {
        font-size: 30px;
        margin: center;
    }

    #menu {
        display: block;
        font-size: 15px;
        font-weight: bolder;
        font-family: Lato, sans-serif;
        margin-right: 0%;
        margin: top 0;
    }

    #menu {
        position: absolute;
        background: rgba(199, 116, 127, 0.6);
        height: 200vh;
        width: 150px;
        top: 0;
        right: 0;
        text-align: right;
        z-index: 1
    }
}

@media(max-height:800px) {
    #cover-text {
        font-size: 120%;
        font-family: Oswald, sans-serif;
        letter-spacing: 4px;
        text-align: center;
        margin: auto;
        bottom: auto;
        height: 180px;
        position: relative;
    }
}

/*treatment section on landing page*/
.treatments {
    font-family: Oswald, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 0;
}

.col {
    display: flex;
    justify-content: space-between;

}
.treatments, h3 {
    text-align: center;
}

@media(max-width:700px){
    .col {
        flex-direction: column;
    }
    .treatments {
        font-family: Oswald, sans-serif;
        letter-spacing: 1.5px;
        font-weight: 400;
        width: 80%;
        margin:auto;
        text-align: center;
        padding: 0;
        
}
}
.handsandnails {
    height: auto;
    width:auto;
    
}
.facials {
    height: auto;
    width:auto;
}
.stonemassages {
    height: auto;
    width:auto;
}