@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/
h1,
h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 15px;
}

/*navigation links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    justify-content: flex-end;

}

#menu #logo {
    line-height: 55px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    line-height: 55px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image and cover text */

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

}

#hero-outer {
    height: 800px;
    width: 100%;

}

#cover-text,
#cover-text h2 {
    color: #252525;
}

#cover-text {
    font-size: 160%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    margin: auto;
    bottom: 100px;
    height: 150px;
    position: relative;

}

/* media query for hero image, cover-text and menu links */
@media(max-width: 700px) {
    #hero-image {
        width: 100%;
        background: url('../images/face-frame.jpg') no-repeat center center;
        margin: 0;
    }

    #logo {
        font-size: 30px;
        margin: 15px;
    }

    #menu {
        display: block;
        font-size: 15px;
        font-weight: bolder;
        color: #252525;
        font-family: Lato, sans-serif;
        margin-right: 0%;
    }

    #menu {
        position: absolute;
        background: rgba(199, 116, 127, 0.6);
        height: 125vh;
        width: 150px;
        top: 0;
        right: 0;
        text-align: right;
        z-index: 1
    }
}

@media(max-height:800px) {
    #cover-text {
        font-size: 120%;
        font-family: Oswald, sans-serif;
        letter-spacing: 4px;
        text-align: center;
        margin: auto;
        bottom: auto;
        height: 180px;
        position: relative;
    }
}

/*treatment section on landing page*/
.treatments {
    font-family: Oswald, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    width: 80%;
    margin: 0%;
    text-align: center;
    padding: 0;
}

.col {
    display: flex;
}

.col {
    width: 120%;
    height: 250;
    align-content: center;
    margin-left: 100px;
}

.treatment-col {
    width: 350px;
    padding-top: 150px;
}

.treatments,
h3 {
    text-align: center;
}

/* Treatment images on landing page */
.handsandnails {
    width: 80%;
    border-radius: 10%;
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgb(199, 116, 127);

}

.facials {
    width: 80%;
    border-radius: 10%;
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgb(199, 116, 127);
}

.stonemassage {
    width: 70%;
    border-radius: 10%;
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgb(199, 116, 127);
}

@media(max-width:700px) {
    .col {
        flex-direction: column;
        display: block;
    }

    .treatments {
        font-family: Oswald, sans-serif;
        letter-spacing: 1.5px;
        font-weight: 400;
        width: 80%;
        margin: 0;
        text-align: center;
        padding: 0;

    }
}

/* footer */
footer {
    height: max-content;
    width: 100%;
}


.social-networks .fab {
    width: 100%;
    height: 55px;
    font-size: 150%;
    text-align: center;
    display: inline-flex;
    margin-left: 20px;
    color: #3a3a3a;
    letter-spacing: 20px;
    padding-top: 50px;

}
.social-networks a {
    text-decoration: none;
}

.copyright {
    float: right;
    font-size: 90%;
    letter-spacing: 4px;
    margin-right: 15px;
    height: 55px;
}

@media (max-width:700px) {
    .social-networks {
        width: 80%;
        font-size: 15px;
        text-align: center;
        display: inline-flex;
        margin-left: 10px;
        color: #3a3a3a;
        letter-spacing: 5px;


    }

    .copyright {
        text-align: center;
        font-size: 85%;
        letter-spacing: 2px;
        margin: 0;
    }
}

/* Treatment page */
#body-treatments {
    font-family: Oswald, sans-serif;
    font-size: 100%;
    letter-spacing: 2x;
    font-weight: 600;
    text-align: left;
    padding-top: 50px;
    margin-left: 20px;

}

#body-treatments>.row {
    height: 300px;
}

img.right {
    float: right;

}
img.right {
    margin-right: 10%;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgb(199, 116, 127);

}

#body-treatments > p {
    clear: right;
    margin-left: 30px;
    font-size: 30px;
    letter-spacing: 4px;
    background-color: rgba(199, 116, 127, 0.6);

}

 #body-treatments > h2 {
    padding-top: 20%;
    font-size: 30px;
    letter-spacing: 4px;
    background-color: rgba(199, 116, 127, 0.6);
}

/* Price List Table */
table {
    width:90%;
    font-family: Lato, sans-serif;
    font-size: 190%;
    font-weight: 300;
    border: #3a3a3a;
    background-color: rgb(199,116,127,0.6);
    margin-right: auto;
    margin-left:auto;   
    text-align: left;
    border-radius: 2%;
        
}
.grid-container {
    display: -ms-inline-grid;
    box-shadow: 10px 10px 10px gray;
   
}
